doctype html
html
   head
      meta(charset="UTF-8")
      link(rel="stylesheet", href="/stylesheets/style.css", type="text/css")
      link(rel="stylesheet", href="/javascripts/vendor/jqueryui/jquery-ui.css", type="text/css")
      script(type="text/javascript", src="/javascripts/vendor/jquery-1.10.2.js")
      script(type="text/javascript", src="/javascripts/vendor/d3.v3.js")
      script(type="text/javascript", src="/javascripts/vendor/jqueryui/jquery-ui.min.js")
      script(type="text/javascript", src="/javascripts/test.js")
      title VisComposer
   body
      div(id="gohome", style="width: 100px; height: 100px; background: red;")